footer {
  width: 100%;
  background-color: #f5F5F5;
  border-top: 1px solid #ddd ;
  text-align: center;
  padding: 15px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.fab {
  font-size: 25px;
}

.back-to-top {
  text-decoration: none;
  color: white;
  border: 1px solid #656565;
  background-color: #656565;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}