{% extends "html/extends/base.html" %}

{% block body %}

  {% include "html/includes/navbar.html" %}
  {% include "html/includes/header.html" %}

<div class="page-content">
  {% include "html/includes/pages/index/presentation.html" %}

  {% include "html/includes/pages/index/portfolio.html" %}

  {% include "html/includes/pages/index/contact.html" %}

  {% include "html/includes/footer.html" %}
</div>

{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.0/rellax.min.js"></script>

  <script type="text/javascript">
      var options = {
          strings: ["Allan LAVAURE", "Marketing", "Commercial"],
          typeSpeed: 60,
          backSpeed: 30,
          loop: true,
      }

      new Typed("header h1.main-title span", options);

      new Rellax('header div.title-container', {
          speed: -2,
      });
      new Rellax('header', {
          speed: -1,
      });
      /*
      new Rellax('.contact-main-picture', {
          speed: -0.5,
      });
      new Rellax('.presentation-main-picture',{
          speed: 0.5,
      });
      */
  </script>


{% endblock %}

